body{
    background-image: url(../assets/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    border: 1px solid red;
    width: 1200px;
    height: 400px;
    position:absolute;
    top: 350px;
    left: 400px;
    color: white;
    margin: 0 auto;
}

.presentacion{
    border: 1px solid green;
    background-image:  linear-gradient(to bottom, #cedce7 0%,#596a72 64%,#596a72 87%,#596a72 95%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    width: 98%;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
    font-family: Anton;
}
.header__text{
    margin-top: 10px;
    text-decoration: underline;
    font-size: 3.5rem;
    font-family: Anton;
}
.main{
    border: 1px solid rgb(0, 255, 30);
}
.footer{
    border: 1px solid rgb(225, 255, 0);
}